<div class="main-wrapper" layout-align="center center" layout-fill>
  <div class="row skills">
    <div class="col-xs-3">
      <h4>Creative</h4>
    </div>
    <div class="col-xs-1">
      <h4>|</h4>
    </div>
    <div class="col-xs-3">
      <h4>Custom</h4>
    </div>
    <div class="col-xs-1">
      <h4>|</h4>
    </div>
    <div class="col-xs-3">
      <h4>Design</h4>
    </div>
  </div>

  <div class="center contact" layout="row">
    <md-button>
      <a href="mailto:info@atxfabrications.com"><i class="material-icons icon">email</i></a>
    </md-button>
    <md-button>
      <a href="https://www.instagram.com/atxfabrications"><i class="material-icons icon">camera_alt</i></a>
    </md-button>
    <md-button>
      <a href="https://www.google.com/maps/place/ATX+Fabrications/@30.2186901,-97.7640992,15z/data=!4m5!3m4!1s0x0:0x8686182fb6463134!8m2!3d30.2186901!4d-97.7640992" target="_blank"><i class="material-icons icon">place</i></a>
    </md-button>
  </div>

</div>
