<div class="home-wrapper" layout-align="center center" layout-fill>
  <div class="header-wrapper center">
    <img src="images/atx_fabrications.png" alt="ATX Fabrications" />
  </div>

  <div class="row skills">
    <div class="col-xs-3">
      <h4>Creative</h4>
    </div>
    <div class="col-xs-1">
      <h4>|</h4>
    </div>
    <div class="col-xs-3">
      <h4>Custom</h4>
    </div>
    <div class="col-xs-1">
      <h4>|</h4>
    </div>
    <div class="col-xs-3">
      <h4>Design</h4>
    </div>
  </div>

  <div class="center contact" layout="row">
    <md-button>
      <a href="mailto:info@atxfabrications.com"><i class="material-icons icon">email</i></a>
    </md-button>
  </div>

</div>
