<div class="home-wrapper" layout-align="center center" layout-fill>
  <div class="header-wrapper center">
    <img src="images/atxfab_logo.png" alt="ATX Fabrications" class="expand" />
  </div>

  <div class="row skills">
    <div class="col-xs-3">
      <h4>Creative</h4>
    </div>
    <div class="col-xs-1">
      <h4>|</h4>
    </div>
    <div class="col-xs-3">
      <h4>Custom</h4>
    </div>
    <div class="col-xs-1">
      <h4>|</h4>
    </div>
    <div class="col-xs-3">
      <h4>Design</h4>
    </div>
  </div>

  <div class="center contact">
      <md-button>
        <a href="mailto:info@atxfabrications.com"><i class="material-icons icon">email</i></a>
      </md-button>

      <md-button>
        <a href="https://www.instagram.com/atxfabrication" target="blank">
          <i class="material-icons icon">camera_alt</i>
        </a>
      </md-button>
  </div>

  </div>

</div>



<!--
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
